
services:

    angular:
        build: ./app
        ports: 
            - "4200:80"
        healthcheck:
            test: ["CMD-SHELL", "wget -qO- http://localhost || exit 1"]
            interval: 30s
            timeout: 5s
            retries: 3

    php:
        build: ./api/php
        ports:
        - 8869:80
        volumes:
        - ./api/php:/var/www/html
        # - ./api/php/.htaccess:/var/www/html/.htaccess
        depends_on:
        - mysql



    mysql:
        build: ./api/db
        environment:
            MYSQL_DATABASE: 'api'
            MYSQL_ROOT_PASSWORD: 'root'
        volumes:
            - db-volume:/var/lib/mysql

volumes:
    db-volume: